In [5]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

house_df_org = pd.read_csv('../Train_2.csv', encoding= 'ansi')
house_df = house_df_org.copy()
house_df.head(3)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X60,X61,X62,X63,X64,X65,X66,X67,X68,Y
0,173660,96866,76793,6356,52613,39480,32053,28652,14507,1314,...,2.651221e+09,1.261880e+09,2.020032e+09,1.600597e+09,141199,67904,118723,84751,110,50.2
1,209238,107003,102237,11228,45589,47885,44694,40624,19212,2514,...,1.396338e+09,6.259459e+08,9.079470e+08,6.824956e+08,60820,29820,50400,31521,63,50.2
2,478882,243693,235189,24111,83630,112851,109472,97958,50859,3743,...,5.488857e+09,1.855414e+09,3.330348e+09,3.451869e+09,285521,107030,215844,161208,219,50.2

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [3]:
#house_df['Y'] = np.log1p(house_df['Y'])

In [7]:
print('데이터 세트의 Shape:', house_df.shape)
print('\n전체 feature 들의 type \n{0}'.format(house_df.dtypes.value_counts()))
isnull_series = house_df.isnull().sum()
print('\nNull 컬럼과 그 건수:\n ', 
      isnull_series[isnull_series > 0].sort_values(ascending=False))

데이터 세트의 Shape: (6025, 69)

전체 feature 들의 type
int64      62
float64     6
object      1
dtype: int64

Null 컬럼과 그 건수:
  Series([], dtype: int64)

In [10]:
house_df[skew_features_top.index] = np.log1p(house_df[skew_features_top.index])
# Skew가 높은 피처들을 로그 변환 했으므로 다시 원-핫 인코딩 적용 및 피처/타겟 데이터 셋 생성,
house_df_ohe = pd.get_dummies(house_df)
y_target = house_df_ohe['Y']
X_features = house_df_ohe.drop('Y',axis=1, inplace=False)
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size=0.2, random_state=156)

NameError: name 'train_test_split' is not defined

In [9]:
from scipy.stats import skew

# object가 아닌 숫자형 피쳐의 컬럼 index 객체 추출.
features_index = house_df.dtypes[house_df.dtypes != 'object'].index
# house_df에 컬럼 index를 [ ]로 입력하면 해당하는 컬럼 데이터 셋 반환. 
# apply lambda로 skew( )호출 
skew_features = house_df[features_index].apply(lambda x : skew(x))
# skew 정도가 1 이상인 컬럼들만 추출. 
skew_features_top = skew_features[skew_features > 1]
print(skew_features_top.sort_values(ascending=False))

X46    13.152976
X34    13.120398
X40    12.620250
X4     10.026635
X48     9.734368
X42     9.335407
X49     8.894696
X33     8.602606
X36     8.450601
X47     8.444366
X7      7.935770
X43     7.920710
X5      7.914532
X35     7.618436
X32     7.615790
X37     7.605966
X31     7.499560
X41     7.453507
X44     7.436464
X8      7.426268
X50     7.006827
X38     7.001878
X9      6.538852
X68     6.377595
X6      6.355238
X2      6.053555
X3      5.963340
X65     5.955438
X1      5.941658
X67     5.742956
         ...
X61     5.098618
X58     5.097205
X66     4.932256
Y       4.895336
X39     4.884682
X45     4.879952
X62     4.516467
X25     2.628466
X13     2.581015
X19     2.539879
X28     1.809690
X29     1.801419
X27     1.773197
X16     1.713461
X17     1.698314
X12     1.642333
X15     1.635013
X24     1.634873
X10     1.616892
X22     1.606954
X23     1.583141
X11     1.575352
X18     1.560534
X30     1.555867
X21     1.535170
X26     1.473996
X14     1.378397
X20     1.327027
X53     1.137371
X52     1.046894
Length: 66, dtype: float64

In [ ]:
plt.style.use('default')

In [ ]:
from matplotlib import font_manager, rc
import matplotlib as mpl
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
    
mpl.rcParams['axes.unicode_minus'] = False

In [ ]:
plt.title('Original Sale Price Histogram')
sns.distplot(house_df['Y'])

In [ ]:
plt.title('Log Transformed Sale Price Histogram')
log_SalePrice = np.log1p(house_df['Y'])
sns.distplot(log_SalePrice)

## Problem 1) Choice

### Log Transformation or StandardScale

In [ ]:
# SalePrice 로그 변환
# 환원 -> np.expm1()
original_SalePrice = house_df['Y']
house_df['Y'] = np.log1p(house_df['Y'])

# Null 이 너무 많은 컬럼들과 불필요한 컬럼 삭제
# house_df.drop(['Id','PoolQC' , 'MiscFeature', 'Alley', 'Fence','FireplaceQu'], axis=1 , inplace=True)
# Drop 하지 않는 숫자형 Null컬럼들은 평균값으로 대체
# house_df.fillna(house_df.mean(),inplace=True)

# Null 값이 있는 피처명과 타입을 추출
# null_column_count = house_df.isnull().sum()[house_df.isnull().sum() > 0]
#print('## Null 피처의 Type :\n', house_df.dtypes[null_column_count.index])

In [ ]:
#print('get_dummies() 수행 전 데이터 Shape:', house_df.shape)
house_df_ohe = pd.get_dummies(house_df)
#print('get_dummies() 수행 후 데이터 Shape:', house_df_ohe.shape)

#null_column_count = house_df_ohe.isnull().sum()[house_df_ohe.isnull().sum() > 0]
#print('## Null 피처의 Type :\n', house_df_ohe.dtypes[null_column_count.index])

In [ ]:
# get_dummies() 실행 후 df name
house_df_ohe.head()

In [ ]:
def get_rmse(model):
    pred = model.predict(X_test)
    # from sklearn.metrics import mean_squared_error
    mse = mean_squared_error(y_test , pred)
    rmse = np.sqrt(mse)
    print('{0} 로그 변환된 RMSE: {1}'.format(model.__class__.__name__,
                                        np.round(rmse, 3)))
    return rmse

def get_rmses(models):
    rmses = []
    for model in models:
        rmse = get_rmse(model)
        rmses.append(rmse)
    return rmses

In [7]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
y_target = house_df_ohe['Y']
#y_target = house_df_ohe.iloc[:, -1:]
X_features = house_df_ohe.drop('Y',axis=1, inplace=False)
#X_features = house_df_ohe.iloc[:, :-1]
X_features.head()

In [ ]:
y_target.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, 
                                                    test_size=0.2, random_state=156)

In [ ]:
X_train.head()

In [9]:
rf = RandomForestRegressor(n_estimators= 1000, criterion= 'mse', n_jobs= -1)

In [11]:
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=-1, oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [12]:
rf.score(X_test, y_test)

0.8950937071822302

In [13]:
a = rf.predict(X_test)

In [14]:
mse = mean_squared_error(y_test , a)
mse

0.031917461551466735

In [15]:
np.sqrt(mse)

0.178654587266789

In [16]:
f = pd.DataFrame(a)
ff = np.expm1(f)
y = pd.DataFrame(y_test)
yy = np.expm1(y)

result = pd.DataFrame()
result['Y_pred'] = ff.values.flatten()
result['Y_real'] = yy.values.flatten()
result['Mean'] = result['Y_real'] - result['Y_pred']
result['Mean'] = result['Mean'].abs()
result.describe()

            Y_pred       Y_real          Mean
count  1081.000000  1081.000000  1.081000e+03
mean      7.930220     8.039130  6.965858e-01
std       4.313931     4.527995  9.773978e-01
min       0.429312     0.200000  1.598721e-14
25%       4.913318     4.800000  5.398134e-02
50%       7.179108     7.400000  3.032519e-01
75%      10.160292    10.600000  9.398125e-01
max      22.003467    22.400000  1.019684e+01

In [17]:
X_test_org = pd.read_csv('../임대료용/Test2_fake_eng.csv', encoding= 'ansi')

In [18]:
X_test_org[skew_features_top.index] = np.log1p(X_test_org[skew_features_top.index])
X_test_org.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X60,X61,X62,X63,X64,X65,X66,X67,X68,X69
0,12.064860,11.481094,11.248882,8.757312,10.870738,10.583575,10.375177,10.263013,9.582456,7.181592,...,21.698286,20.955869,21.426379,21.193643,11.857933,11.125865,11.684557,11.347485,4.709530,3.995998
1,12.251232,11.580621,11.535059,9.326255,10.727444,10.776578,10.707617,10.612139,9.863342,7.830028,...,21.057119,20.254775,20.626697,20.341267,11.015690,10.302968,10.827766,10.358441,4.158883,3.892228
2,13.079212,12.403669,12.368149,10.090465,11.334170,11.633833,11.603433,11.492304,10.836832,8.227910,...,22.425986,21.341374,21.926343,21.962182,12.562074,11.580874,12.282316,11.990457,5.393628,3.857247
3,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,24.599020,23.999101,24.243808,24.360897,14.759816,14.148399,14.394484,14.565890,6.569481,4.166036
4,11.286063,10.788308,10.349999,8.240913,10.378417,9.727883,9.522154,9.226706,8.057061,6.361302,...,21.927523,20.778579,21.513374,21.246432,12.484537,11.303845,12.137847,11.858039,4.709530,3.859730

In [19]:
X_test_ = pd.get_dummies(X_test_org)
X_test_.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X64,X65,X66,X67,X68,X69,Object1_HH,Object1_HL,Object1_LH,Object1_LL
0,12.064860,11.481094,11.248882,8.757312,10.870738,10.583575,10.375177,10.263013,9.582456,7.181592,...,11.857933,11.125865,11.684557,11.347485,4.709530,3.995998,0,0,0,1
1,12.251232,11.580621,11.535059,9.326255,10.727444,10.776578,10.707617,10.612139,9.863342,7.830028,...,11.015690,10.302968,10.827766,10.358441,4.158883,3.892228,1,0,0,0
2,13.079212,12.403669,12.368149,10.090465,11.334170,11.633833,11.603433,11.492304,10.836832,8.227910,...,12.562074,11.580874,12.282316,11.990457,5.393628,3.857247,0,0,0,1
3,13.890762,13.229271,13.164919,11.054392,12.776512,12.371269,12.036476,11.965090,11.505186,7.363914,...,14.759816,14.148399,14.394484,14.565890,6.569481,4.166036,0,0,1,0
4,11.286063,10.788308,10.349999,8.240913,10.378417,9.727883,9.522154,9.226706,8.057061,6.361302,...,12.484537,11.303845,12.137847,11.858039,4.709530,3.859730,0,0,1,0

In [20]:
a = rf.predict(X_test_)

In [21]:
f = pd.DataFrame(a)
ff = np.expm1(f)

In [22]:
ff.head()

          0
0  5.348344
1  5.154607
2  5.158270
3  5.158438
4  5.802536

In [23]:
ff.to_csv('Result_null_random.csv', encoding= 'ansi')